<div class="container col-sm-4 offset-sm-4">

  <img src="../../assets/img/logo.png"/>

  <h2>Login</h2>

  <div *ngIf="loginFail===true" class="alert alert-danger">
    <strong>Login unsuccessful!</strong> Please enter a valid e-mail address and correspondent password, or register.
  </div>

  <form [formGroup]="loginForm">

    <div class="form-group">
      <label for="email">Email address</label>
      <input appAutofocus class="form-control" formControlName="email" id="email" ngModel
             placeholder="Email" type="email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" formControlName="password" id="password" placeholder="Password"
             required type="password">
    </div>

    <div class="row">
      <div class="col" style="float:left">
        <a class="nav-link" routerLink="/register">Register here</a>
      </div>
      <div class="col">
        <button (click)="onSubmit()" [disabled]="loginForm.invalid" class="btn btn-default" style="float:right"
                type="submit">Login
        </button>
      </div>
    </div>

  </form>
</div>
