<div class="container col-sm-4 offset-sm-4">
  <h2>Register</h2>

  <form [formGroup]="userForm">

    <div class="form-group">
      <label for="fullName">Full name</label> <input type="text" class="form-control" id="fullName"
                                                     formControlName="name" placeholder="Full Name" required>
    </div>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Full name is required.
      </div>
      <div *ngIf="name.errors.minlength">
        The name must be between 2 and 30 characters.
      </div>
      <div *ngIf="name.errors.maxlength">
        The name must be between 2 and 30 characters.
      </div>
    </div>

    <div class="form-group">
      <label>Select your gender</label><br/>
      <input type="radio" name="gender" value="m" formControlName="gender"> Male
      <input type="radio" name="gender" value="f" formControlName="gender"> Female
    </div>

    <div class="form-group">
      <label for="email">Email address</label> <input type="email" class="form-control" id="email"
                                                      [(ngModel)]="newEmail" formControlName="email"
                                                      placeholder="example@domain.com" required>
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="email.errors.required">
        The e-mail is required.
      </div>
      <div *ngIf="email.errors.email">
        Not a valid e-mail format.
      </div>
    </div>
    <div *ngIf="emailTaken && newEmail===invalidEmail" class="alert alert-danger">
      Sorry, the email is already taken.
    </div>

    <div class="form-group">
      <label for="birth">Date of birth</label> <input type="date" class="form-control" id="birth"
                                                      formControlName="birth" placeholder="dd-mm-yyyy" required>
    </div>
    <div *ngIf="birth.invalid && (birth.dirty || birth.touched)" class="alert alert-danger">
      <div *ngIf="birth.errors.required">
        The date is required.
      </div>
    </div>

    <!--
    <div class="form-group">
      <label for="birth">Date of birth</label><br/>

      <div class="input-group">
        <input class="form-control" id="birth" formControlName="birth" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <img src="../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </div>
    VALIDATION NOT AVAILABLE FOR THIS COMPONENT!
    </div>
    -->

    <div class="form-group">
      <label for="password">Password</label> <input type="password" class="form-control" id="password"
                                                    formControlName="password" placeholder="Strong&Password123"
                                                    [(ngModel)]="passwordModel"
                                                    required>
    </div>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors.required">
        The password is required.
      </div>
      <div *ngIf="password.errors.pattern">
        The password must be at least 8 characters long and contain uppercase(s), lowercase(s) and at least one special
        character or numeral.
      </div>
    </div>

    <div class="form-group">
      <label for="repeatPassword">Repeat password</label> <input type="password" class="form-control"
                                                                 id="repeatPassword"
                                                                 formControlName="repeatPassword"
                                                                 placeholder="Strong&Password123"
                                                                 [(ngModel)]="repeatPasswordModel"
                                                                 (keyup.enter)="onSubmit()"
                                                                 required>
    </div>
    <div *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)" class="alert alert-danger">
      <div *ngIf="repeatPassword.errors.required">
        This field is required.
      </div>
    </div>
    <div *ngIf="(repeatPassword.dirty || repeatPassword.touched) && repeatPasswordModel !== passwordModel"
         class="alert alert-warning">
      The value is not equal with password field's value.
    </div>

    <div class="row">
      <div class="col">
        <button type="reset" (click)="revert()" [disabled]="userForm.pristine" class="btn btn-danger"
                style="float:left">Reset
        </button>
      </div>
      <div class="col">
        <button type="button" (click)="onSubmit()" [disabled]="userForm.invalid"
                class="btn btn-success" style="float:right">Register
        </button>
      </div>
    </div>

  </form>
</div>
