<div *ngIf="authenticatedUser" class="row">

  <div id="profileInfo" class="col-sm-4">
    <div id="nov">
      <img id="profile" style="width:225px; height:225px;" src={{authenticatedUser.avatar}}/>
      <h4>{{authenticatedUser.name}}</h4>
      <h6>{{authenticatedUser.birth | age}}</h6>

      <div style="display:flex;justify-content: center;">
        <ngb-rating readonly="true" [(rate)]="totalRate"></ngb-rating>&nbsp;{{totalRate}}
      </div>

      <div style="display:flex;justify-content: center; margin-top: 10%;">
        <button class="btn btn-lg btn-outline-primary" (click)="open()">Tweet a new message</button>
      </div>

      <div style="display:flex;justify-content: center; margin-top: 10%;">
        <button class="btn btn-lg btn-outline-primary" (click)="editProfile()">Edit your profile</button>
      </div>

      <div style="display:flex;justify-content: center; margin-top: 10%;">
        <button class="btn btn-lg btn-outline-primary" (click)="changeAvatar()">Change your avatar</button>
      </div>
    </div>
  </div>

  <div *ngIf="tweets" class="col-sm-4">
    <div *ngIf="tweets.length===0">
      <div class="card" style="border:none;">
        <div class="card-body">
          You have no tweets yet. Click on "Tweet a new message".
        </div>
      </div>
    </div>
    <div class="card" *ngFor="let tweet of tweets; let indx = index">
      <h4 class="card-title">{{authenticatedUser.name}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{tweet.date | date:'medium'}}</h6>
      <p class="card-text">{{tweet.content}}</p>
      <div class="row" style="padding: 0 10% 0 5%;">
        <div class="col">
          <a *ngIf="!liked[indx]" (click)="likeTweet(indx)" class="card-link" style="float:left; cursor: pointer"><img
            src="../../assets/img/star-icon-empty.png" style="width:25px; height:25px;"/></a>
          <a *ngIf="liked[indx]" (click)="likeTweet(indx)" class="card-link" style="float:left; cursor: pointer"><img
            src="../../assets/img/star-icon-colored.png" style="width:25px;height: 25px;"/></a>
          <p class="card-link" style="float:right">Likes: {{tweet.sumLikes}}</p>
        </div>
        <div class="col">
          <button class="card-link" style="float:right; border:none; background:transparent;"
                  (click)="deleteTweet(tweet.id)">
            <img src="../../assets/img/bin-icon.png" style="width:25px; height:25px; cursor: pointer;"/></button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div style="border-left:#99A3A4 solid 2px; margin: 5% 10% 5% 5%; padding: 2%;">
      <ul id="followers" class="list-group list-group-flush">
        <li class="list-group-item"><h4 style="color: royalblue;">Followers (5)</h4></li>
        <li class="list-group-item"><img src="../../assets/img/avatar-male.png"
                                         style="width:25px;height: 25px; margin-right:5%;"/>Drug ime
        </li>
        <li class="list-group-item"><img src="../../assets/img/avatar-male.png"
                                         style="width:25px;height: 25px; margin-right:5%;"/>Treto ime
        </li>
        <li class="list-group-item"><img src="../../assets/img/avatar-female.png"
                                         style="width:25px;height: 25px; margin-right:5%;"/>Chetvrto imeeeee
        </li>
        <li class="list-group-item"><img src="../../assets/img/avatar-female.png"
                                         style="width:25px;height: 25px; margin-right:5%;"/>Pettooooooooooooooo
        </li>
        <li class="list-group-item"><img src="../../assets/img/avatar-male.png"
                                         style="width:25px;height: 25px; margin-right:5%;"/>Shesto ime
        </li>
        <li class="list-group-item"><img src="../../assets/img/avatar-female.png"
                                         style="width:25px;height: 25px; margin-right:5%;"/>Edno ime
        </li>
      </ul>
    </div>
    <div style="border-left:royalblue solid 2px; margin: 5% 10% 5% 5%; padding: 2%;">
      <ul id="following" class="list-group list-group-flush">
        <li class="list-group-item"><h4 style="color: dimgray;">Following (6)</h4></li>
        <li class="list-group-item"><img src="../../assets/img/avatar-female.png"
                                         style="width:25px;height: 25px; margin-right:5%;"/>Edno ime
        </li>
        <li class="list-group-item"><img src="../../assets/img/avatar-male.png"
                                         style="width:25px;height: 25px; margin-right:5%;"/>Drugo ime
        </li>
        <li class="list-group-item"><img src="../../assets/img/avatar-male.png"
                                         style="width:25px;height: 25px; margin-right:5%;"/>Treto ime
        </li>
        <li class="list-group-item"><img src="../../assets/img/avatar-female.png"
                                         style="width:25px;height: 25px; margin-right:5%;"/>Chetvrto imeeeee
        </li>
        <li class="list-group-item"><img src="../../assets/img/avatar-female.png"
                                         style="width:25px;height: 25px; margin-right:5%;"/>Pettoooooooooooooooo
        </li>
        <li class="list-group-item"><img src="../../assets/img/avatar-male.png"
                                         style="width:25px;height: 25px; margin-right:5%;"/>Shesto ime
        </li>
      </ul>
    </div>
  </div>

</div>
