<div class="container col-sm-4 offset-sm-4">
  <div class="card">
    <div class="card-body">
      Simple card
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">Full Name</h4>
    <h6 class="card-subtitle mb-2 text-muted">Date and time</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
    <div class="row">
      <div class="col">
        <a href="#" class="card-link" style="float:left">Rating number</a>
      </div>
      <div class="col">
        <ngb-rating style="float:right" [(rate)]="currentRate"></ngb-rating>
      </div>
    </div>
  </div>

  <div class="card">
    <h4 class="card-title">Dajana Stojchevska</h4>
    <h6 class="card-subtitle mb-2 text-muted">01-Feb-2018 17:02</h6>
    <p class="card-text">Dali e dobar izgledot na eden tvit vaka?</p>
    <div class="row">
      <div class="col">
        <a href="#" class="card-link" style="float:left">5.5</a>
      </div>
      <div class="col">
        <ngb-rating style="float:right" [(rate)]="currentRate"></ngb-rating>
      </div>
    </div>
  </div>

  <ngb-pagination [collectionSize]="10" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
</div>
