<div class="container col-sm-4 offset-sm-4">
  <div *ngIf="topTweets && topTweets.length===0">
    <div class="card" style="border:none;">
      <div class="card-body">
        No tweets are published yet from anyone.
      </div>
    </div>
  </div>

  <div *ngIf="topTweets">
    <div *ngFor="let tweet of topTweets; let i = index" class="card">
      <h4 class="card-title">{{tweet.author.name}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{tweet.date | date:'medium'}}</h6>
      <p class="card-text">{{tweet.content}}</p>
      <div class="row" style="padding: 0 10% 0 5%;">
        <div class="col">
          <a (click)="likeTweet(i)" *ngIf="!authUserLiked[i]" class="card-link"
             style="float:left; cursor: pointer"><img
            src="../../assets/img/star-icon-empty.png" style="width:25px;height: 25px;"/></a>
          <a (click)="likeTweet(i)" *ngIf="authUserLiked[i]" class="card-link"
             style="float:left; cursor: pointer"><img
            src="../../assets/img/star-icon-colored.png" style="width:25px;height: 25px;"/></a>
        </div>
        <div class="col">
          <p class="card-link" style="float:right">Likes: {{tweet.sumLikes}}</p>
        </div>
      </div>
    </div>
  </div>

  <ngb-pagination (pageChange)="pageChanged()" *ngIf="topTweets && topTweets.length>=1" [(page)]="page" [boundaryLinks]="true"
                  [collectionSize]="totalTweets" [pageSize]="4"></ngb-pagination>
</div>
