<div class="container col-sm-4 offset-sm-4">
  <div *ngIf="topTweets && topTweets.length===0">
    <div class="card" style="border:none;">
      <div class="card-body">
        No tweets are published yet from anyone.
      </div>
    </div>
  </div>

  <div *ngIf="topTweets">
    <div class="card" *ngFor="let tweet of topTweets; let i = index">
      <h4 class="card-title">{{tweet.author.name}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{tweet.date | date:'medium'}}</h6>
      <p class="card-text">{{tweet.content}}</p>
      <div class="row" style="padding: 0 10% 0 5%;">
        <!-- <div class="col">
          <a *ngIf="!currentUserLiked[i]" (click)="likeTweet(i)" class="card-link"
             style="float:left; cursor: pointer"><img
            src="../../assets/img/star-icon-empty.png" style="width:25px;height: 25px;"/></a>
          <a *ngIf="currentUserLiked[i]" (click)="likeTweet(i)" class="card-link"
             style="float:left; cursor: pointer"><img
            src="../../assets/img/star-icon-colored.png" style="width:25px;height: 25px;"/></a>
        </div> -->
        <div class="col">
          <p class="card-link" style="float:right">Likes: {{tweet.likes}}</p>
        </div>
      </div>
    </div>
  </div>

  <ngb-pagination *ngIf="topTweets && topTweets.length>=1" [collectionSize]="totalTweets" [(page)]="page" [pageSize]="4"
                  (pageChange)="pageChanged()" [boundaryLinks]="true"></ngb-pagination>
</div>
